@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:200,600');
/* CSS Document */

/*ALL RES*/
html, body {
    height: 100%;
    background-color: #001820;
}
body {
    margin: 0;
}
.content {
    position: relative;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100% !important;
}

/*background*/
.content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*HEADER*/
/*logo*/
.logo {
    display: inline-block;
}
.header.hamburger {
    display: none;
}

/*navigation mobile*/
.mobile-nav.container {
    display: none;
}

/*navigation default*/
.menu.default {
    display: inline-block;
    float: right;
}
.menu.default * {
        text-decoration: none;
}
.nav.element {
    display: inline-block;
}
.nav.text {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}
.nav.beam {
    display: block;
    width: 0;
    background-color: #ffffff;
}
.nav.element:hover .nav.beam {
    width: 50%;
}
.nav.element.btn:hover {
     background-color: #ffffff;
}
.nav.element.btn:hover .nav.text {
    color: #001820;
}

/*MAIN CONTENT*/
.main.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000000;
    text-align: center;
    position: relative;
}
.mobile-main.text {
    display: none;
}
.main.text.white {
    font-weight: 600;
    color: #ffffff;
}
.square {
    display: block;
    transform: rotate(0deg);
}
.square.rotate {
    transform: rotate(360deg);
    transition: transform 2s;
}

/*FOOTER*/
footer {
    position: relative;
    display: block;
}
.footer.text {
    font-family: 'Open Sans';
    color: #ffffff;
    text-align: center;
}
.mobile-footer.text {
        display: none;
    }

/*social*/
.social {
    text-decoration: none;
}
.social.container {
    display: flex;
    justify-content: center;
}
.social.link {
    display: inline-block;
}
.social.link * {
    display: inline-block;
}
.social.img {
    float: left;
    position: relative;
}
.social.img img{
    display: block;
}
.social.text {
    font-family: 'Open Sans';
    color: #ffffff;
}

/*arrow*/
.triangle.text {
    font-family: 'Open Sans';
    color: #000000;
    text-transform: uppercase;
}
.mobile-triangle.text {
    display: none;
}



/*RESOLUTION 1440x900*/
@media screen and (min-width: 1440px) {
    .content {
        min-height: 900px;
        padding: 47px 80px 0;
    }


    /*background*/
    .content:before {
        background: 
            linear-gradient(to bottom, rgba(0,0,0,0.31), rgba(0,0,0,0.31)),
            url("../img/bg_image.jpg") calc(50% - 212px) -282px no-repeat #001820;
    }

    /*HEADER*/
    /*logo*/
    .logo {
        margin-top: 6px;
        margin-left: -1px;
    }
    .logo img {
        width: auto;
        height: 56px;
    }

    /*navigation default*/
    .menu.default {
        height: 46px;
    }
    .nav.element {
        height: 45px;
        margin-right: 53px;
    }
    .nav.text {
        font-size: 16px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .nav.beam {
        height: 3px;
        border-radius: 1.5px;
    }
    .nav.element.current .nav.beam {
        width: calc(100% + 8px);
    }
    .nav.element.btn {
        border: 3px solid #ffffff;
        width: 141px;
        height: 39px;
        border-radius: 6px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 2px;
    }
    .nav.element.btn .text {
        margin-left: 32px;
    }

    /*MAIN CONTENT*/
    #main {
        margin-top: 116px;
    }
    .main.text {
        font-size: 36px;
        line-height: 124%;
        margin-left: 3px;
    }
    .square {
        width: 104px;
        height: 104px;
        margin: 117px auto 0 auto;
    }

    /*FOOTER*/
    footer {
        height: 195px;
        margin-top: 123px;
    }
    .footer.text {
        font-size: 19px;
        letter-spacing: -0.45px;
    }

    /*social*/
    .social.container {
        margin:  24px auto;
    }
    .social.link {
        height: 24px;
        margin: 0 30px;
    }
    .social.img.fb img{
        width: 24px;
        height: 24px;
    }
    .social.img.twitter img{
        margin-top: 1px;
        width: 27px;
        height: 22px;
    }
    .social.img.google img{
        margin-top: 3px;
        width: 31px;
        height: 24px;
    }
    .social.text {
        font-size: 16px;
        margin-left: 14px;
        margin-top: 2px;
    }

    /*arrow*/
    .triangle.container {
        height: 62px;
        width: 126px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
    }
    .triangle img {
        width: inherit;
        height: inherit;
        display: block;
    }
    .triangle.text {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: 0px auto 0px auto;
        text-align: center;
        font-size: 14px;
    }
}

/*RESOLUTION 1024x768*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .content {
        min-height: 768px;
        padding: 44px 40px 0;
    }

    /*background*/
    .content:before {
        background: 
            linear-gradient(to bottom, rgba(0,0,0,0.31), rgba(0,0,0,0.31)),
            url("../img/bg_image.jpg") calc(50% - 148px) -195px/1970px 1313px no-repeat #001820;
    }

    /*HEADER*/
    /*logo*/
    .logo {
        margin-top: 3px;
        margin-left: -3px;
    }
    .logo img {
        width: auto;
        height: 44px;
    }

    /*navigation default*/
    .menu.default {
        height: 37px;
    }
    .nav.element {
        height: 37px;
        margin-right: 43px;
    }
    .nav.text {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .nav.beam {
        height: 2px;
        border-radius: 1.5px;
    }
    .nav.element.current .nav.beam {
        width: calc(100% + 8px);
    }
    .nav.element.btn {
        border: 3px solid #ffffff;
        width: 110px;
        height: 29px;
        border-radius: 6px;
        margin-top: 0;
        margin-right: 1px;
        margin-left: 2px;
    }
    .nav.element.btn .text {
        margin-left: 26px;
    }

    /*MAIN CONTENT*/
    #main {
        margin-top: 91px;
    }
    .main.text {
        font-size: 28px;
        line-height: 125%;
        margin-left: 0px;
    }
    .square {
        width: 80px;
        height: 80px;
        margin: 104px auto 0 auto;
    }

    /*FOOTER*/
    footer {
        height: 180px;
        margin-top: 113px;
    }
    .footer.text {
        font-size: 15px;
        letter-spacing: -0.30px;
    }

    /*social*/
    .social.container {
        margin:  29px auto;
    }
    .social.link {
        height: 19px;
        margin: 0 25px;
    }
    .social.img.fb img{
        width: 19px;
        height: 19px;
    }
    .social.img.twitter img{
        margin-top: 1px;
        width: 21px;
        height: 17px;
    }
    .social.img.google img{
        margin-top: 2px;
        width: 25px;
        height: 17px;
    }
    .social.text {
        font-size: 12px;
        margin-left: 14px;
        margin-top: 2px;
    }

    /*arrow*/
    .triangle.container {
        height: 52px;
        width: 108px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
    }
    .triangle img {
        width: inherit;
        height: inherit;
        display: block;
    }
    .triangle.text {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 16px;
        margin: 0px auto 0px auto;
        text-align: center;
        font-size: 11px;
    }

}

@media screen and (max-width: 1023px) {
    .content {
        min-height: 530px;
        padding: 0px;
    }

    /*background*/
    .content:before {
        background: 
            linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("../img/bg_image.jpg") calc(50% - 97px) -135px/1244px 830px no-repeat #001820;
    }

    /*HEADER*/
    /*logo*/
    .logo {
        margin-top: 0px;
        margin-left: 0px;
        
    }
    .logo img {
        width: auto;
        height: 29px;
        display: block;
    }
    .header.default {
        padding: 22px 22px 0px 22px;
        display: flex;
        justify-content: center;
    }
    .header.hamburger {
        display: block;
        width: 28px;
        height: 22px;
        position: absolute;
        right: 23px;
    }
    .header.hamburger img {
        display: inherit;
        width: inherit;
        height: inherit;
    }

    /*navigation default*/
    .menu.default {
        display: none;
    }
    
    /*navigation mobile*/
    .mobile-nav.container{
        display: none;
        background-color: #001820;        
    }
    .mobile-nav.container.show {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
    
    .mobile-nav.top {
        height: 30px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    .mobile-nav.logo {
        display: block;
        width: auto;
        height: 29px;
        margin-top: 1px;
    }
    .mobile-nav.close {
        position: absolute;
        display: block;
        width: 21px;
        height: 21px;
        right: 26px;
    }
    .mobile-nav.menu.container{
        position: relative;
        width: 100vw;
        height: 353px;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    .mobile-nav.menu.link {
        text-decoration: none;
        display: block;
        margin: 20px auto;
    }
    .mobile-nav.menu.element {
        width: 198px;
        height: 35px;
        display: flex;
        justify-content: center;
    }
    .mobile-nav.menu.element.btn {
        border: 3px solid #ffffff;
        border-radius: 6px;
        margin-top: 12px;
    }
    .mobile-nav.menu.element.btn .text {
        margin-left: -2px;
    }
    .mobile-nav.element.btn:hover {
         background-color: #ffffff;
    }
    .mobile-nav.element.btn:hover .text {
        color: #001820;
    }
    .mobile-nav.menu.text {
        font-family: 'Open Sans';
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 6px;
    }
    .mobile-nav.social.container {
        height: 24px;
        width: 204px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .mobile-nav.social > .link {
        display: inline-block;
        height: inherit;
        margin: initial;
    }
    .mobile-nav.social.facebook {
        display: block;
        width: 24px;
        height: 24px;
    }
    .mobile-nav.social.twitter {
        display: block;
        width: 24px;
        height: 18px;
        margin-top: 3px;
    }
    .mobile-nav.social.google {
        display: block;
        width: 24px;
        height: 17px;
        margin-top: 3px;
    }
    
    /*MAIN CONTENT*/
    #main {
        margin-top: 42px;
    }
    .main.text {
        display: none;
    }
    .mobile-main.text {
        font-size: 18px;
        line-height: 128%;
        letter-spacing: 0.30px;
        color: #ffffff;
        margin-left: 0px;
        
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        text-align: center;
        position: relative;
    }
    .main.text.white {
        display: inline;
    }
    .square {
        width: 64px;
        height: 64px;
        margin: 22px auto 0 auto;
    }

    /*FOOTER*/
    footer {
        height: 180px;
        margin-top: 22px;
    }
    .footer.text {
        display: none;
    }
    .mobile-footer.text {
        display: block;
        font-size: 11px;
        letter-spacing: -0.45px;
        line-height: 170%;
        
        font-family: 'Open Sans';
        color: #ffffff;
        text-align: center;
    }

    /*social*/
    .social.container {
        margin:  0px auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social.link {
        height: 16px;
        margin: 30px 0px 0px 4px;
    }
    .social.img.fb img{
        width: 16px;
        height: 16px;
    }
    .social.img.twitter img{
        margin-top: 1px;
        width: 16px;
        height: 12px;
    }
    .social.img.google img{
        margin-top: 2px;
        width: 16px;
        height: 11px;
    }
    .social.text {
        font-size: 12px;
        margin-left: 13px;
        margin-top: 0px;
        line-height: 16px;
        overflow: hidden;
    }

    /*arrow*/
    .triangle.container {
        height: 29px;
        width: 60px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
    }
    .triangle img {
        width: inherit;
        height: inherit;
        display: block;
    }
    .triangle.text {
        display: none;
    }
    .mobile-triangle.text {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 2px;
        margin: 0px auto 0px auto;
        text-align: center;
        font-size: 18px;
        
        font-family: 'Open Sans';
        color: #000000;
        text-transform: uppercase;
    }

}