@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200,600');

/*

body {
    background-image: url("../img/bg_image.jpg");
    background-repeat: no-repeat;
    background-position: -788px -281px;
    background-color: #001820;
    
}

*/
.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-top: -10px;
}

/*background*/

.content:before {
/*
    
    background-image: url("../img/bg_image.jpg");
    background-repeat: no-repeat;
    background-position: -788px -281px;
    background-color: #001820;
    
*/
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.31), rgba(0,0,0,0.31)),
        url("../img/bg_image.jpg") -788px -281px no-repeat #001820;
    
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*logo*/

.logo img {
    display: inline-block;
    width: auto;
    height: 56px;
}

/*navigation*/

nav a {
    text-decoration: none;
}
.nav.element {
    display: inline-block;
}
.nav.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-stretch: condensed;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.nav.beam {
    display: block;
    width: auto;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1.5px;
}