@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:200,600');
/* CSS Document */

body {
    margin: 0;
}
.content {
    position: relative;
    box-sizing: border-box;
    height: 900px;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 47px 80px 0;
}


/*background*/
.content:before {
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.31), rgba(0,0,0,0.31)),
        url("../img/bg_image.jpg") -788px -282px no-repeat #001820;
    
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*HEADER*/
/*logo*/
.logo {
    display: inline-block;
    margin-top: 6px;
    margin-left: -1px;
}
.logo img {
    width: auto;
    height: 56px;
}

/*navigation default*/
.menu.default {
    display: inline-block;
    float: right;
    height: 46px;
}
.menu.default * {
    text-decoration: none;
}
.nav.element {
    display: inline-block;
    height: 45px;
    margin-right: 53px;
}
.nav.text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 9px;
}
.nav.beam {
    display: block;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1.5px;
}
.nav.element.current .nav.beam {
    width: calc(100% + 8px);
}
.nav.element:hover .nav.beam {
    width: 50%;
}
.nav.element.btn {
    border: 3px solid #ffffff;
    width: 141px;
    height: 39px;
    border-radius: 6px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 2px;
}
.nav.element.btn .text {
    margin-left: 32px;
}
.nav.element.btn:hover {
    background-color: #ffffff;
}
.nav.element.btn:hover .nav.text {
    color: #001820;
}

/*MAIN CONTENT*/
#main {
    margin-top: 116px;
}
.main.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000000;
    font-size: 36px;
    text-align: center;
    line-height: 124%;
    
    position: relative;
    margin-left: 3px;
}
.main.text.white {
    font-weight: 600;
    color: #ffffff;
}
.square {
    display: block;
    width: 104px;
    height: 104px;
    margin: 117px auto 0 auto;
}
.square.rotate {
    transform: rotate(360deg);
    transition: transform 2s;
}
.square.reset {
    transform: rotate(0deg);
}

/*FOOTER*/
footer {
    position: relative;
    display: block;
}
.footer.text {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    margin-top: 123px;
    letter-spacing: -0.45px;
}

/*social*/
.social {
    text-decoration: none;
}
.social.container {
/*    display: block;*/
    margin:  24px auto;
    display: flex;
    justify-content: center;
}
.social.link {
    display: inline-block;
    height: 24px;
    margin: 0 30px;
}
.social.link * {
    display: inline-block;
}
.social.img {
    float: left;
    position: relative;
}
.social.img img{
    display: block;
}
.social.img.fb img{
    width: 24px;
    height: 24px;
}
.social.img.twitter img{
    margin-top: 1px;
    width: 27px;
    height: 22px;
}
.social.img.google img{
    margin-top: 3px;
    width: 31px;
    height: 24px;
}

.social.text {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 16px;
    margin-left: 14px;
    margin-top: 2px;
}