@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200,600');
/* CSS Document */


.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 39px 80px 0 ;
}

/*background*/
.content:before {
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.31), rgba(0,0,0,0.31)),
        url("../img/bg_image.jpg") -788px -281px no-repeat #001820;
    
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*HEADER*/
/*logo*/
.logo {
    display: inline-block;
    margin-top: 6px;
    margin-left: -1px;
}
.logo img {
    width: auto;
    height: 56px;
}

/*navigation default*/
.menu.default {
    display: inline-block;
    float: right;
}
.menu.default * {
    text-decoration: none;
}
.nav.element {
    display: inline-block;
    margin-right: 55px;
}
.nav.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.nav.beam {
    display: block;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1.5px;
}
.nav.element.current .nav.beam {
    width: calc(100% + 8px);
}
.nav.element:hover .nav.beam {
    width: 50%;
}
.nav.element.btn {
    border: 3px solid #ffffff;
    padding-top: 14px;
    padding: 11px 33px 0px 33px;
    border-radius: 6px;
    margin-right: 0;
}
.nav.element.btn:hover {
    background-color: #ffffff;
}
.nav.element.btn:hover .nav.text {
    color: #001820;
}

/*MAIN CONTENT*/

.main.text {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000000;
    font-size: 36px;
    text-align: center;
    line-height: 124%;
    
    position: relative;
    margin-top: 116px;
    margin-left: 3px;
}
.main.text.white {
    font-weight: 600;
    color: #ffffff;
}
.square {
    display: block;
    width: 104px;
    height: 104px;
    margin: 117px auto 0 auto;
}
.square.rotate {
    transform: rotate(360deg);
    transition: transform 2s;
}
.square.reset {
    transform: rotate(0deg);
}